# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: **
- List data science languages
- List data science libraries
- Table of Data Science tools
- Introducing arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scipy
5. Keras

|Data science Tools|
|------------------|
|Apache Spark|
|Rstudio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
one_hour=60
Hours=minutes/one_hour
print("The number of hours:",Hours)

The number of hours: 3.3333333333333335

## Author:
Cheikh Ahmadou Bamba FALL